/* ----------------------------------- Common CSS ----------------------------------- */
:root {
  --bgGreen: #fcfff4;
  --primary01: rgb(112, 145, 118);
  --primary02: #cde77f;
  --primary03: #e6f8b2;
  --support01: #79745c;
  --support02: #132734;
  --support03: #413810;
  --white: #ffffff;
  --grey: #f9f9f9;
}

* {
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--bgGreen);
  color: var(--support03) !important;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul,
li {
  padding: 0;
}

.btn {
  background-color: var(--primary01) !important;
  color: var(--bgGreen);
  padding: 8px 19px;
}

.btn-outline {
  border: 1px solid var(--primary01);
  color: var(--primary01) !important;
  padding: 8px 19px;
}

.btn-outline:hover {
  background-color: var(--primary01);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: var(--bgGreen) !important;
}

.btn:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: var(--bgGreen);
}

.breadcrumbLink {
  color: var(--primary01);
}

.breadcrumbLink a {
  color: var(--primary01) !important;
}

.circle {
  border-radius: 50%;
  z-index: -3;
  position: absolute;
  width: 379px;
  height: 379px;
  border: 67px solid #e3ebf2;
}

.circle1 {
  left: -200px;
  top: -28px;
}

.blurCircle {
  border-radius: 50%;
  z-index: -4;
  position: absolute;
  width: 512px;
  height: 512px;

  background: rgb(227, 249, 182);
  background: radial-gradient(
    circle,
    rgba(121, 173, 225, 0.564) 56%,
    rgb(210, 255, 150) 19%
  );
  filter: blur(100px);
}
.blurCircle1 {
  left: -166px;
  top: -100px;
}

.blurCircle2 {
  right: -43px;
  bottom: -306px;
}
.circle2 {
  border-radius: 50%;
  position: absolute;
  width: 132px;
  height: 132px;
  left: 40px;
  top: 261px;
  border: 32px solid rgba(112, 145, 118, 0.4);
  z-index: -2;
}

.circle3 {
  right: 0;
  bottom: -238px;
}

/* ----------------------------------- Navbar & Sidebar ----------------------------------- */
.productListing .top_navbar .hamburger_menu,
.productListing .top_navbar .logoutBtn {
  height: 100%;
  justify-content: space-around;
}

.productListing .top_navbar .hamburger_menu a {
  color: var(--primary01);
}

.productListing .top_navbar {
  padding: 10px 0;
}

.productListing .sidebar .profile .close_menu {
  position: absolute;
  right: 15px;
  top: 10px;
}

.productListing .sidebar .profile .close_menu a {
  color: white;
}

.productListing .sidebar .profile .close_menu a i {
  font-size: 20px;
}

.productListing.active .sidebar {
  width: 240px;
  left: 0;
  z-index: 1000;
}

.sidebar hr {
  margin: 0;
}

.productListing .sidebar {
  background: var(--primary01);
  position: fixed;
  top: 0;
  left: 0;
  left: -245px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.productListing .sidebar .profile {
  margin-bottom: 22px;
  text-align: center;
}

.productListing .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.productListing .sidebar .profile h4 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.productListing .sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.productListing .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid rgba(241, 237, 237, 0.3);
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.productListing .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.productListing .sidebar ul li a:hover,
.productListing .sidebar ul li a.active {
  color: var(--primary01);
  background: white;
  border-right: 2px solid var(--primary02);
}

.productListing .sidebar ul li a:hover .icon,
.productListing .sidebar ul li a.active .icon {
  color: var(--primary01);
}

.productListing .sidebar ul li a:hover:before,
.productListing .sidebar ul li a.active:before {
  display: block;
}

.productListing .sectionBg {
  background: var(--primary03);
}

.productListing .section .top_navbar .hamburger a {
  font-size: 28px;
  color: #f4fbff;
}

.productListing .section .top_navbar .hamburger a:hover {
  color: #a2ecff;
}

.productListing.active .section {
  width: 100%;
}

.sidebar hr {
  color: rgba(241, 237, 237, 0.3);
}

.productListing .productDetail {
  flex: 1;
}

/* ----------------------------------- breadcrumb ----------------------------------- */
.breadcrumb {
  background-color: var(--grey);
}

.breadcrumb nav {
  height: 40px;
}

.breadcrumb nav a {
  color: var(--support01);
}

.breadcrumb nav a:hover {
  color: var(--primary01);
}

/* ----------------------------------- Products Cards ----------------------------------- */
.products .price {
  color: var(--support02);
}

.products .stars {
  color: #ffe234;
}

.productCard {
  position: relative;
  transition: transform 0.3s;
}

.productCard:hover {
  transform: scale(1.02);
}

.productCardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 233px;
  background-color: rgba(112, 145, 118, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
}

.productCard:hover .productCardOverlay {
  display: flex;
  opacity: 1;
}

.productCardOverlay .overlay-content {
  text-align: center;
}

.overlay-button {
  padding: 10px;
  cursor: pointer;
  margin: 0 15px;
  border-radius: 50%; /* Use 50% for a circular background */
  border: none;
  width: 50px;
  height: 50px;
}

.productCardOverlay .editBtn {
  background-color: #ffc107;
  color: var(--support03);
}

.productCardOverlay .editBtn:hover,
.productCardOverlay .deleteBtn:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.productCardOverlay .deleteBtn {
  background-color: #dc3545;
  color: var(--white);
}

.productCardOverlay i {
  font-size: 18px;
}

.productCardOverlay .detailBtn {
  background-color: var(--primary03) !important;
  color: var(--support03) !important;
  margin-top: 20px;
}

.productName,
.productPrice {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
}

.productPrice {
  color: var(--primary01);
  font-size: 21px;
}

.productCard .fa-star {
  font-size: 12px;
}

/* ----------------------------------- Detail Card ----------------------------------- */
.detailCard,
.dashboardCardContent {
  overflow: hidden !important;
  position: relative;
  height: 73vh;
}

.dashboardCardContent {
  height: 84vh;
}

.detailCard .card {
  background-color: rgba(112, 145, 118, 0.1) !important;
}

.detailContents .details {
  border-left: 1px solid rgba(188, 188, 188, 0.4);
  padding-left: 30px;
}

.detailCard .editBtn {
  background-color: #ffc107 !important;
  color: var(--support03);
}

.detailCard .deleteBtn {
  background-color: #dc3545 !important;
  color: var(--white);
}

.detailCard .editBtn:hover,
.detailCard .deleteBtn:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
}

.card-header h4 {
  color: var(--support03);
}

/* ----------------------------------- Pagination ----------------------------------- */
.pagination .active,
.pagination .active:hover {
  background-color: var(--primary01);
  color: var(--white) !important;
}

.pagination .page-link {
  color: var(--primary01);
}

/* ----------------------------------- Dashboard ----------------------------------- */

.dashboardCard {
  border-radius: 20px;
  background-color: rgba(112, 145, 118, 0.1);
  transition: transform 0.3s;
}

.dashboardCard:hover {
  transform: scale(1.02);
}

.productInfo h3 {
  color: var(--support03);
}

.productInfo .badge {
  background-color: var(--primary02);
  color: var(--support03);
  font-size: 28px;
  padding: 15px;
  width: 100px;
}

.productInfo .btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 30px;
  line-height: 1.6;
  border-radius: 35px;
  padding-left: 20px;
}

.productInfo .btn i {
  font-size: 30px;
}
/* ----------------------------------- Add Product Form ----------------------------------- */
.addProductForm {
  overflow: hidden !important;
  position: relative;
}

.addProductForm .card-body {
  background-color: rgba(112, 145, 118, 0.1);
}

.addProductForm .card-header {
  background-color: rgba(112, 145, 118, 0.3);
}

/* ----------------------------------- Footer ----------------------------------- */
.footer {
  font-size: 14px;
  width: 100%;
  background-color: var(--primary03);
}

/* ----------------------------------- Filter Section ----------------------------------- */

.filter .ms-n5 {
  margin-left: -54px;
}

.filter .searchIcon {
  color: var(--primary01);
  margin-bottom: 2px;
}

.filterSelect {
  height: 40px;
  width: 80%;
}
/* ----------------------------------- Media Query ----------------------------------- */

@media (max-width: 1400px) {
  .container-custom2 {
    max-width: 748px;
  }
}

@media (min-width: 1400px) {
  .container-custom2 {
    max-width: 748px;
  }
}

@media (max-width: 1199px) {
  .container-custom {
    max-width: 1125px !important;
  }
}

@media (max-width: 991px) {
  .cardLg {
    width: 700px !important;
  }
  .dashboardCard {
    width: 20rem !important;
  }
}
@media (max-width: 768px) {
  .filter {
    padding: 0 20px;
  }

  .filter .addProductBtn {
    font-size: 14px;
    width: 100%;
  }

  .filter .addProductBtn a {
    padding: 10px 13px;
  }
  .detailContents img {
    margin: 0 auto;
  }

  .detailContents .details {
    margin-top: 30px;
    border: 1px solid rgba(188, 188, 188, 0.4);
  }

  .detailContents {
    padding-top: 35px !important;
  }

  .detailContents .details {
    padding: 30px;
  }

  .filterSelect {
    width: 100%;
  }

  .cardLg {
    display: none;
  }

  .cardSm {
    display: block !important;
  }

  .detailCard,
  .addProductForm,
  .dashboardCardContent {
    height: initial;
    padding-bottom: 40px;
  }
}
@media (max-width: 639px) {
  .breadcrumb {
    padding: 0 20px;
  }

  .pagination {
    justify-content: center !important;
  }
}

@media (max-width: 575px) {
  .productCard {
    width: 304px;
    margin: 0 auto;
  }
  .dashboardCardContent {
    padding-bottom: 20px !important;
  }
}
@media (max-width: 425px) {
  .productListing .logo {
    height: 75px;
  }

  .productListing .logoutIcon {
    display: none;
  }

  .productListing .logoutBtn a {
    font-size: 14px;
  }
  .breadcrumb {
    padding: 0 15px;
  }

  .breadcrumb li {
    font-size: 14px;
  }

  .blurCircle {
    width: 345px;
  }
}

@media (max-width: 320px) {
  .dashboardCard {
    width: 18rem !important;
  }
  .productCard {
    width: 100%;
    margin: 0 auto;
  }
  .productListing .logo {
    height: 68px;
  }
  .productListing .logoutBtn a {
    font-size: 13px;
  }
  .logoutBtn .btn {
    padding: 6px 12px;
  }
}
